<!DOCTYPE html>
<html>
<head>
    <title>Projeto Express com Mustache</title>
</head>
<body>
    <h1>Olá, {{userName}}</h1>
    <form action="/salvauser" method="POST">
        <input type="text" name="userName" placeholder="Digite seu nome" required>
        <button type="submit">Salvar Nome</button>
    </form>
    <p><a href="/random">Gerar Número Aleatório</a></p>
    <p><a href="/contador">Ver Contadores</a></p>
</body>
</html>
